.main-container
    padding: 0 40px

nav
    padding-top: 19px 0
    height: 70px
    border-bottom: 1px solid $border-color
    display: flex
    justify-content: space-between
    align-items: center
    position: relative
    .menu-list
        list-style: none
        display: flex
        height: 32px
        align-items: center
        &__link
            border-right: 1px solid $border-color
            padding: 0 32px
            a
                font-weight: 400
                font-size: 14px
                line-height: 160%
                letter-spacing: -0.01em
                color: $text-color-blue
                text-decoration: none
            .link-with-icon
                display: inline-flex
                align-items: center
                gap: 8px
        &__link:first-child
            padding-left: 0
        &__link:last-child
            border: none
            padding-right: none
    .right-side
        display: flex
        align-items: center
        justify-content: space-between
        
        .user
            display: flex
            justify-content: center
            align-items: center
            border: 1px solid $border-color
            border-radius: 50%
            width: 32px
            height: 32px
            margin-right: 32.5px
        .language
            display: inline-flex
            align-items: center
            gap: 8px
            padding-left: 32.5px
            border-left: 1px solid $border-color
            height: 100%
