@media ( max-width: 1471px)
    .home
        &__filter-wrapper
            .title
                border-right: 1px solid $border-color
            button
                display: flex
        &__cards
            grid-template-columns: repeat(3, 1fr)
    nav
        .logo-hide
            display: block
        .menu-list
            display: none
        .right-side
            &__language
                border-left: none
                margin-right: 56px
            &__user
                display: none
            &__button
                display: flex !important
    .wrapper
        display: block
    aside
        display: none

@media ( max-width: 1200px)
    .home
        &__news
            .news-cards
                grid-template-columns: repeat(1, 1fr)
                .card
                    min-width: 700px
                    gap: 16px
                    display: flex
                    align-items: center
                    &__wrapper
                        width: 640px
                    
@media ( max-width: 740px)
    .home
        &__news
            .news-cards
                .card
                    min-width: 500px
                    &__wrapper
                        width: 440px
    
    
@media ( max-width: 1115px)
    footer
        display: block
        .left-side
            display: none
        .right-side
            display: none   
        .tablets
            width: 100%
            display: flex !important
            justify-content: space-between
            &__links
                margin: 0 auto
                width: 100px
                a
                    font-weight: 400
                    font-size: 14px
                    line-height: 160%
                    letter-spacing: -0.01em
                    color: $text-color-blue
                    text-decoration: none
                    display: flex
                    flex-direction: column
                    align-items: center
                    p
                        text-align: center

@media ( max-width: 1160px)   
    .home
        &__cards
            grid-template-columns: repeat(2, 1fr)         

@media ( max-width: 745px)
    .home
        &__cards
            grid-template-columns: repeat(1, 1fr)        
                    
@media ( max-width: 600px)
    .home
        &__filter-wrapper
            display: flex
            flex-direction: column
            width: auto
            .title
                width: auto
                border-right: none
                padding-right: 0
            button
                top: none
                margin: 16px 0 0 0
                position: relative
        &__news
            .news-title
                display: flex
                flex-direction: column
                align-items: start
                a
                    border: none
                    padding-left: 0
                    margin-top: 16px
    nav
        .logo-hide
            display: none
        .right-side
            display: flex
            justify-content: space-between !important
            width: 100%
            .logo-mobile
                display: block
            &__language
                padding-left: 0
                margin: 0
            
                    
@media ( max-width: 565px)
    nav
        .right-side
            margin-bottom: 35px
    .home
        &__news
            .news-cards  
                display: flex
                flex-direction: column
                min-width: 250px
                .card
                    min-width: 250px 
                    display: block
                    &__wrapper
                        width: 280px
                .card:last-child
                    margin-bottom: 82px
        &__cards
            display: flex
            flex-direction: column
            align-items: center
            .card
                width: 280px
                height: 260px
                img
                    width: 280px
    .main-container
        padding: 35px 20px 0 20px 


@media ( max-width: 446px)
    nav
        .right-side
            .logo-mobile
                width: 58px
                height: 20px
            &__language
                font-size: 12px
            &__button
                width: 54px
                height: 23px
                display: flex
                justify-content: center
                align-items: center
                padding: 5.5px 3 5.5px 4px
                gap: 4px
                font-size: 11px
                span
                    padding-top: 4px
    .home
        &__cards
            gap: 0
            .card
                &__subdescr
                    display: none
        &__subtitle
            font-size: 18px
        &__filter-wrapper
            .title
                font-size: 20px
        &__news
            .news-title
                padding-top: 0
                h2
                    font-size: 22px
                a
                    font-size: 14px
            .news-cards
                .card
                    padding-top: 12px
                    &__descr
                        display: none
                    &__descr-phone
                        display: block
                    &__about-news
                        padding-top: 0
                    &__circle
                        width: 32px
                        height: 32px
            button
                margin: 16px 0 0 0
                width: 145px
                height: 33px
                font-size: 12px
        &__subtitle
            text-align: left
            width: 290px
    footer
        padding-top: 16px !important
        margin: 0 0 20px 0
    .tablets
        .tablets__links
            a
                svg
                    width: 19px
                    height: 19px
                p
                    font-size: 12px
    .phone-btns
        display: flex
        gap: 10px
    .tablet-btn
        display: none
    .phone-btn
        display: block
    .phone-btn:last-child
        margin: 0
    .white-btn
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        padding: 12px 16px
        gap: 8px
        width: 94px
        height: 44px
        background: #FFFFFF
        border: 1px solid #8595AD
        border-radius: 4px
        font-weight: 700
        font-size: 14px
        line-height: 140%
        display: flex
        align-items: center
        color: #14181F
